.curiosity-blue {
  background: #525252; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3d72b4, #525252); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3d72b4,
    #525252
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.curiosity-red {
  background: #525252; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3d72b4, #525252); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3d72b4, #a80000);
}

.curiosity-blue-reversed {
  background: #525252; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3d72b4, #525252); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #3d72b4,
    #525252
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.curiosity-blue-waaw {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(82, 82, 82, 1) 0%, rgba(61, 114, 180, 1) 50%, rgba(82, 82, 82, 1) 100%);
}

.curiosity-blue-margin {
  background: rgb(82, 82, 82);
  background: linear-gradient(
    90deg,
    rgba(82, 82, 82, 1) 0%,
    rgba(61, 114, 180, 1) 45%,
    rgba(82, 82, 82, 1) 90%,
    rgba(0, 0, 0, 1) 100%
  );
}
